.Logo{
    width: 80px;
    
}

.field{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.botao{
    width: 100vw;
}
.full{
    /* position: absolute;
    height: 100vh;
    width: 100vw; */
    background: url(./../../images/fundo.jpg);
}
.Login{
   
    background-color: rgb(207, 204, 204);
    width: 383px;
    height: 411;
    border: 5px;
    border-radius: 10px;
    margin-top: 4rem;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    /* padding: 10px; */
    margin: 20px; 
}
